<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.user.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.user.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.user.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolsServlet</servlet-name>
        <servlet-class>com.admin.servlet.ToolsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditToolsServlet</servlet-name>
        <servlet-class>com.admin.servlet.EditToolsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicToolsDelete</servlet-name>
        <servlet-class>com.admin.servlet.MusicToolsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>com.user.servlet.AddCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/user-registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/log-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolsServlet</servlet-name>
        <url-pattern>/add_tools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditToolsServlet</servlet-name>
        <url-pattern>/eddit_tools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicToolsDelete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
</web-app>
